#mainMantenimiento{
	max-height: 530px;
	overflow: auto;
}

#menuSuperior{
	height: 75px;
    background: #025aa5;
    align-items: center;
}
.columna{
	padding-top: 11px;
}
.columna button {
	color: #fff;
    background-color: #ec971f;
	width: 100%;
	cursor: pointer;
	text-align: center;
	border-color: #ec971f;
	font-weight: bolder;
}

.columna button:hover {
	color: #fff;
    background-color: #ec971f;
	width: 100%;
	cursor: pointer;
}

.columna a{
	width: 100%;
	cursor: pointer;
	text-decoration: none;
}

.derecha{
	text-align: center;
}
